<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

  <!-- Load polyfills to support older browsers -->
  <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"
    crossorigin="anonymous"></script>

  <!-- Load Vue followed by BootstrapVue -->
  <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
  <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

  <!-- Load the following for BootstrapVueIcons support -->
  <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
  <style>
    .tab-content {
      height: 500px;
      overflow-y: auto;
    }
  </style>
</head>

<body>
  <div id="app">
    <div>
      <b-button v-b-modal.modal-center>Launch centered modal</b-button>
    
      <b-modal id="modal-center" centered title="BootstrapVue">
        <div class="container" style="width: 1000px;">
          <div class="row">
            <div class="col-6">
              <b-card no-body >
                <b-tabs card fill v-model="tabIndex">
                  <b-tab title="行程介紹">
                    <b-card-text></b-card-text>
                  </b-tab>
                  <b-tab title="景點編輯"  active>
                    <b-card-text></b-card-text>
                  </b-tab>
                  <b-tab title="場次與票券編輯">
                    <b-card-text></b-card-text>
                  </b-tab>
                </b-tabs>
              </b-card>
            </div>
          </div>
        </div>
      </div>
      </b-modal>
    </div>
    {{ tabIndex }}
    <div class="container">
      <div class="row">
        <div class="col-6">
          <b-card no-body >
            <b-tabs card fill v-model="tabIndex">
              <b-tab title="行程介紹">
                <b-card-text></b-card-text>
              </b-tab>
              <b-tab title="景點編輯"  active>
                <b-card-text></b-card-text>
              </b-tab>
              <b-tab title="場次與票券編輯">
                <b-card-text></b-card-text>
              </b-tab>
            </b-tabs>
          </b-card>
        </div>
      </div>
    </div>
  </div>
    <script>
      let app = new Vue({
        el: '#app',
        data: {
          tabIndex: 0
        }
      })
    </script>
</body>

</html>