html {
  scroll-behavior: smooth;
}
.trip-list-header-day-container{
  background-color: #fff;
  height: 50px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 20%);
  border-top: 1px solid #ccc
  

}
.trip-list-header-day-container.edit-mode{
  height: 100px;
  position: relative;
  z-index: 500;
  
}
.dayBox{
  height: 100%;
  position: relative;
}
.trip-list-header-day-component{
  /* border: 1px solid blue; */
  height: 100%;
  position: absolute;
  left: 24px;
  right: 24px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  display: inline-block;
  font-size: 0;
  z-index: 99;
  
}
.trip-list-header-day-component::-webkit-scrollbar{
  display: none;
  width: 0;
}
.add-day {
  cursor: pointer;
}
.add-day a{
  margin-top: 0;
  line-height: 24px;
  font-size: 24px;
  font-weight: bold;
}
.day-cell{
  position: relative;
  display: inline-block;
  width: 90px;
  height: 100%;
  font-size: 14px;
  user-select: none;
  box-sizing: border-box;
  /* z-index: 1000; */
  border-right: 1px solid #eee;
}
.day-item{
  transition-duration: 100ms;
  height: 100%;
  cursor: pointer;
}
.day-cell .drag-handler{
  height: 20px;
  position: absolute;
  cursor: move;
  z-index: 100;
  background: url(/image/MoveDay.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 16px;
}
.day-cell-content{
  /* padding-top: 20px; */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.day-cell.edit-mode .day-cell-content{
  padding-top: 16px;
}
.day-cell-content .delete{
  margin-top: 5px;
  z-index: 99;
  cursor: pointer;
}
.day-cell-content .delete:hover{
  box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
  border-radius: 15px;
}
.day-cell.add-day a{
  display: block;
  width: 20px;
  height: 20px;
}
.page-controller{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
}
.day-number{
  font-weight: 300;
}
.page-controller a{
  display: block;
  height: 100%;
  width: 24px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
  cursor: pointer;
}
.page-controller .previous{
  background: url(/image/left_arrow.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 10px 16px;
}
.page-controller .next{
  background: url(/image/right_arrow.png);
  position: absolute;
  right: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 10px 16px;
}
.sortable-item{
  box-shadow: 0 2px 8px rgb(0 0 0 / 80%);
}
.day-card{
  background-color: #fff;
  position: fixed;
  box-shadow: 0 2px 8px rgb(0 0 0 / 50%);
}
.HighlightDay{
  border-bottom: 4px solid #ee3c77 !important;
}
