<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/vue@next"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
    integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <link rel="stylesheet" href="/css/Chat.css">
  <link rel="stylesheet" href="/css/ContextMenu.css">

</head>

<body>
  <div id="app" style="margin: 20px;">
    <input type="number" name="name" v-model="userId" />{{userId}}
    <div class="room-header">
      <div class="participant">
        <i class="fas fa-users"></i>
        <span> 參與成員</span>
      </div>
      <i class="fas fa-minus zoom-out"></i>
    </div>
    <div class="room" ref="room">
      <div v-for="content in MessageContent" :key="content.PostDate">
        <div class="message-date-box" style="margin: 10px 0px;">
          <span class="message-date">{{content.PostDate}}</span>
        </div>
        <template v-for="message in content.MessageBox" :key="message.MessageId">
          <div class="messageBox" :style="{'marginBottom': message.showTime ? '10px' : '0px'}" v-if="chatData.UserId !== message.UserId">
            <div class="messageBox-photo" v-if="message.showArrow">
              <img :src="message.UserImage" :title="message.UserName">
            </div>
            <div class="messageBox-info-left">
              <div class="bubble-arrow-left" v-if="message.showArrow"></div>
              <div class="messageBox-name" v-if="message.showArrow">{{message.UserName}}</div>
              <div class="messageBox-message">
                <div class="messageBox-message-left" :style="{marginLeft: message.showArrow ? '15px' : '60px'}">
                  {{message.Message}}</div>
                <div class="messageBox-time-left" v-if="message.showTime">
                  {{message.PostType}} {{message.PostTime}}
                </div>
              </div>
            </div>
          </div>
          <div class="messageBox-self" :style="{'marginBottom': message.showTime ? '10px' : '0px'}" v-else >
            <div class="messageBox-info-right">
              <div class="bubble-arrow-right" v-if="message.showArrow"></div>
              <div class="messageBox-message" @contextmenu.prevent="getSelectMessage(message, $event)">
                <div class="messageBox-time-right">
                  <div class="read" style="text-align: right;" :style="{'marginBottom': message.showTime ? '0px' : '10px'}">已讀 {{message.ReadQuantity}}</div>
                  <span v-if="message.showTime">
                    {{message.PostType}} {{message.PostTime}}
                  </span>
                </div>
                <div class="messageBox-message-right">{{message.Message}}</div>
              </div>
            </div>
          </div>
        </template>
      </div>
      <div class="context-menu" :class="{active: menuShow}" ref="contextMenu" id="delete" @click="deleteSelectMessage">
        <div class="item">
          <i class="fas fa-trash-alt" style="margin-right: 7px;"></i> 刪除
        </div>
      </div>
    </div>
    <div class="enter-message">
      <input type="text" class="message" placeholder="請輸入..." v-model="message">
      <button type="button" class="send btn btn-sm btn-success" v-on:click="addMessage">
        <i class="fas fa-paper-plane"></i>
      </button>
    </div>
  </div>  
  <script src="/js/Chat.js"></script>
</body>

</html>