<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/vue@next"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
    integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <link rel="stylesheet" href="/css/Chat.css">
  <link rel="stylesheet" href="/css/ContextMenu.css">
  <script src="//cdn.jsdelivr.net/npm/element-plus"></script>

  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/element-plus/dist/index.css" />
</head>

<body>
  <div id="app" style="margin: 20px;">
    <div class="room-header">
      <div class="participant">
        <i class="fas fa-users"></i>
        <span> 參與成員</span>
      </div>
      <i class="fas fa-minus zoom-out"></i>
    </div>
    <div class="room" ref="room">
      <div v-for="content in MessageContent" :key="content.PostDate">
        <div class="message-date-box" style="margin: 10px 0px;">
          <span class="message-date">{{content.PostDate}}</span>
        </div>
        <template v-for="message in content.MessageBox" :key="message.MessageId">
          <div class="messageBox" :style="{'marginBottom': message.showTime ? '10px' : '0px'}" v-if="chatData.UserId !== message.UserId">
            <div class="messageBox-photo" v-if="message.showArrow">
              <img :src="message.UserImage" :title="message.UserName">
            </div>
            <div class="messageBox-info-left">
              <div class="bubble-arrow-left" v-if="message.showArrow"></div>
              <div class="messageBox-name" v-if="message.showArrow">{{message.UserName}}</div>
              <div class="messageBox-message">
                <div class="messageBox-message-left" :style="{marginLeft: message.showArrow ? '15px' : '60px'}">
                  {{message.Message}}</div>
                <div class="messageBox-time-left" v-if="message.showTime">
                  {{message.PostType}} {{message.PostTime}}
                </div>
              </div>
            </div>
          </div>
          <div class="messageBox-self" :style="{'marginBottom': message.showTime ? '10px' : '0px'}" v-else >
            <div class="messageBox-info-right">
              <div class="bubble-arrow-right" v-if="message.showArrow"></div>
              <div class="messageBox-message" @contextmenu.prevent="getSelectMessage(message, $event)">
                <div class="messageBox-time-right">
                  <div class="read" style="text-align: right;" :style="{'marginBottom': message.showTime ? '0px' : '10px'}">已讀 {{message.ReadQuantity}}</div>
                  <span v-if="message.showTime">
                    {{message.PostType}} {{message.PostTime}}
                  </span>
                </div>
                <div class="messageBox-message-right">{{message.Message}}</div>
              </div>
            </div>
          </div>
        </template>

        <!-- <template v-for="(item, index) in content.MessageBox" :key="index">
          <message-box :chat-data="item" @select-message="getSelectMessage"></message-box>
        </template> -->

      </div>
      <div class="context-menu" :class="{active: menuShow}" ref="contextMenu" id="delete" @click="deleteSelectMessage">
        <div class="item">
          <i class="fas fa-trash-alt" style="margin-right: 7px;"></i> 刪除
        </div>
      </div>
    </div>
    <div class="enter-message">
      <input type="text" class="message" placeholder="請輸入...">
      <button type="button" class="send btn btn-sm btn-success">
        <i class="fas fa-paper-plane"></i>
      </button>
    </div>
  </div>
  <script>
    const App = {
      data() {
        return {
          chatData: [],
          selectMessage: '',
          menuShow: false,
        }
      },
      methods: {
        deleteSelectMessage() {
          console.log(this.selectMessage);

        },
        getChatData() {
          let url = 'https://raw.githubusercontent.com/r04941090/FileStorage/master/Chat_new5'
          let url2 = 'https://localhost:44392/api/plan/ReadAllMessage/44'
          axios.get(url2).then(res => {
            console.log(res);
            this.chatData = res.data
            console.log(this.chatData);
            this.$refs.room.scrollTop = this.$refs.room.scrollHeight
            this.$nextTick(() => {
              // https://iter01.com/581627.html
              console.log(this.$refs.room.scrollTop, this.$refs.room.scrollHeight);
              this.$refs.room.scrollTop = this.$refs.room.scrollHeight
            });
          })
        },
        getSelectMessage(message, event) {
          this.menuShow = true
          let contextElement = this.$refs.contextMenu
          contextElement.style.top = event.y + "px";
          contextElement.style.left = event.x + "px";
          this.selectMessage = message
        },
        clearSelectMessage(e) {
          this.menuShow = false
        },
        groupBy(array, f) {
          // https://codertw.com/%E7%A8%8B%E5%BC%8F%E8%AA%9E%E8%A8%80/157462/
          let groups = {};
          array.forEach(function (o) {
            let group = JSON.stringify(f(o));
            groups[group] = groups[group] || [];
            groups[group].push(o);
          });
          return Object.keys(groups).map(function (group) {
            return groups[group];
          });
        }
      },
      computed: {
        MessageContent: function () {
          if (this.chatData.MessageContent !== undefined) {
            console.log(this.chatData.MessageContent);
            let sortData = []
            let sorted = this.groupBy(this.chatData.MessageContent, function (item) {
              return [item.Time.split(' ')[0]];
            });
            console.log(sorted);
            let UserId = 0
            sorted.forEach(sortByDay => {
              let element = {
                PostDate: sortByDay[0].Time.split(' ')[0],
                MessageBox: []
              }
              let sortByTime = this.groupBy(sortByDay, function (item) {
                return [item.Time.split(' ')[1]];
              })

              sortByTime.forEach(item1 => {
                let BeforeUserId = 0
                item1.forEach((item2, index) => {
                  if (index == 0) {
                    item2.showArrow = true
                    UserId = item2.UserId
                  }
                  else {
                    if (UserId !== item2.UserId) {
                      item2.showArrow = true
                      UserId = item2.UserId

                    }
                    else {
                      item2.showArrow = false
                    }
                  }
                  if (index !== item1.length - 1) {
                    if (item1[index + 1].UserId !== item2.UserId) {
                      item2.showTime = true
                    }
                    else {
                      item2.showTime = false
                    }
                  }
                  else{
                    item2.showTime = true
                  }
                  let hour = item2.Time.split(' ')[1].split(':')[0]
                  let minute = item2.Time.split(' ')[1].split(':')[1]
                  item2.PostType = hour > 11 ? '下午' : '上午'
                  item2.PostTime = hour > 12 ? `${hour - 12}:${minute}` : `${hour}:${minute}`
                  element.MessageBox.push(item2)
                })
              })
              sortData.push(JSON.parse(JSON.stringify(element)))
              console.log(sortByTime);
            })
            console.log(sortData);
            return sortData
          }
        }
      },
      mounted() {
        this.getChatData()
        window.addEventListener('click', this.clearSelectMessage)
      },
    }
    Vue.createApp(App).use(ElementPlus).mount('#app')
  </script>
</body>

</html>