<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
    integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCW6Ekw5sZ0JUZfzpMeSteJ6_8aoQRwfws&libraries=places"></script>
  <link rel="stylesheet" href="/css/Plan.css">
  <script src="https://unpkg.com/vue@next"></script>
</head>

<body ref="body">
  <div class="temp-header"></div>
  <div class="outside position-relative" id="app">
    <div id="map" ref="map"></div>
    <div class="trip-list border" v-show="showTripList">
      <div class="trip-list-header-info"></div>
      <div class="trip-list-header-day-container">
        <div class="day-cell"></div>
      </div>
      <div class="trip-list-day-container" ref="tripListDayContainer">
        <div class="box border w-100" ref="box">
          <div class="item-group" v-for="(TripContent, index) in rawData" :key="TripContent.Id"
            :data-id="TripContent.Id" @mousedown="DragMouseDown">
            <day :trip-content="TripContent" v-if="index == 0"></day>
            <place-gps :trip-content="TripContent" v-else-if="TripContent.Type == 'Place'" @copy-data="copyPlace">
            </place-gps>
            <day-plus :trip-content="TripContent" v-else-if="TripContent.Type == 'Day'"></day-plus>
          </div>
          <div class="item-group" :data-id="rawData.length + 1">
            <div class="add-venue">
              <span>+ 新增景點</span>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="comments-minimized">
      <i class="far fa-comment-alt"></i>
      <div class="comments-minimized-count">
        6
      </div>
    </div>
    <div class="tool-button-wrapper">
      <div class="tool-button">
        <i class="far fa-copy trip-tools-icon mx-2"></i>
        <div>複製行程</div>
      </div>
      <div class="tool-button">
        <i class="far fa-share-square trip-tools-icon mx-2"></i>
        <div>分享</div>
      </div>
      <div class="tool-button">
        <i class="fas fa-sign-in-alt trip-tools-icon mx-2"></i>
        <div>嵌入地圖</div>
      </div>
    </div>
    <div class="trip-tools-footer">
      <div class="trip-tools-block">
        <i class="far fa-copy trip-tools-icon"></i>
        <span class="trip-tools-content">複製行程</span>
      </div>
      <div class="trip-tools-block">
        <i class="far fa-share-square trip-tools-icon"></i>
        <span class="trip-tools-content">分享行程</span>
      </div>
      <div class="trip-tools-block">
        <i class="far fa-comment-alt trip-tools-icon"></i>
        <span class="trip-tools-content">留言</span>
      </div>
      <div class="trip-tools-block border" @click="showTripList=!showTripList">
        <i class="fas fa-map-marked-alt trip-tools-icon"></i>
        <span class="trip-tools-content">顯示地圖</span>
      </div>
    </div>
  </div>
  <template id="Card">
    <div class="place-card"
      style="font-size: 12px; transform: translateY(0px); background-color: #fff; transition-duration: 10ms">
    </div>
  </template>
  <template id="gps">
    <div class="gps">
      <div class="gps-content">
        <div class="gps-mode-car">
          <img src="/image/car.png" alt="" class="h-100">
        </div>
        <div class="gps-time">
          約
          <span>7分</span>
        </div>
        <div class="gps-go ms-auto">
          <i class="fas fa-angle-double-right"></i>
        </div>
      </div>
    </div>
  </template>

  <script>
    const day = {
      template: `
      <header class="trip-list-day-header d-flex">
        <div class="text-white" :style="{background: tripContent.Color}" style="cursor: pointer">
          第{{tripContent.Day}}天<span> : </span>{{tripContent.Weekday}}
        </div>
        <div>
          出發時間：
          <b class="edit-mode">{{tripContent.StartTime}}</b>
        </div>
      </header>`,
      props: ['tripContent']
    }
    const placeGps = {
      template: `
      <div class="trip-list-venu-container">
        <div class="drag-handler"></div>
        <div class="trip-list-day-venu-time">
          <span class="trip-list-day-venu-time-from">{{tripContent.StartTime}}</span>
          <span class="fas fa-map-marker trip-list-day-venu-number-mark" :style="{color: tripContent.Color}">
            <span class="trip-list-day-venu-number">{{tripContent.Sequence}}</span>
          </span>
          <span class="trip-list-day-venu-time-to">{{tripContent.EndTime}}</span>
        </div>
        <div class="trip-list-day-venu-info">
          <div class="trip-list-day-venu-info-detail">
            <div class="trip-list-day-venu-info-time" @click=Show>
              <i class="fas fa-clock" style= "color: #888;"></i>
              {{tripContent.StayTime}}</div>
            <div class="trip-list-day-venu-info-name">{{tripContent.PlaceName}}</div>
            <div class="trip-list-day-venu-info-address border">{{tripContent.Address}}</div>
          </div>
          <div class="trip-list-day-venu-info-edit">
            <div class="position-relative">
              <i class="far fa-copy copy-tool" @click="$emit('copyData', tripContent)"></i>
              <div class="trip-list-day-venu-info-edit-func">複製</div>
            </div>
            <div class="position-relative">
              <i class="fas fa-trash delete-tool"></i>
              <div class="trip-list-day-venu-info-edit-func">刪除</div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="tripContent.Car">
        <div class="gps">
          <div class="gps-content">
            <div class="gps-mode-car">
              <img src="/image/car.png" alt="" class="h-100">
            </div>
            <div class="gps-time">
              約
              <span>{{tripContent.Car}}</span>
            </div>
            <div class="gps-go ms-auto">
              <i class="fas fa-directions"></i>
            </div>
          </div>
        </div>
      </div>`,
      // template: `<p>{{tripContent.Day}}</p>`,
      props: ['tripContent'],
      emits: ['copyData'],
      methods: {
        Show() { }
      }
    }
    const dayPlus = {
      template: `
      <div class="add-venue" style="margin-top: 16px;">
        <span>+ 新增景點</span>
      </div>
      <header class="trip-list-day-header d-flex">
        <div class="text-white" style="cursor: pointer;" :style="{background: tripContent.Color}">
          第{{tripContent.Day}}天<span> : </span>{{tripContent.Weekday}}
        </div>
        <div>
          出發時間：
          <b class="edit-mode">{{tripContent.StartTime}}</b>
        </div>
      </header>`,
      // template: `<p>{{tripContent.Day}}</p>`,
      props: ['tripContent']
    }

    const App = {
      data() {
        return {
          setReturn: false,
          showTripList: true,
          map: '',
          markers: [],
          directionsService: '',
          directionsRenderer: [],
          // 加上陣列
          clickTagMove: '',
          clickTag: '',
          clickId: '',
          placeCard: '',
          steps: [],
          clickTagMove: 0,
          // 判斷鼠標往上往下才能決定currentDirection
          // 用e.clientY、clientY
          currentDirection: '',
          y: 0,
          H: 0, // 判斷是否要移動的卡片高度，up (id - 1)；down (id + 1)
          clientY: 0, // 之前的滑鼠鼠標位置
          selectBottom: 0, // 選定區域的底部
          selectTop: 0, // 選定區域的頂部
          totalD: '', // trip-list-day-container的高度
          selectD: '', // 選定漂浮區塊距離trip-list上方的高度
          selectH: '', // 選定區塊的高度 (translateY的距離)
          stopCardMove: '', // 漂浮區塊停止移動，卷軸開始移動
          timeId: 0, // TimeInterval Id
          scrollDirection: '', // scroll bar移動方向
          scrollTarget: '', // scroll bar移動的目標終點
          scrollInterval: '', // scroll bar移動距離
          interval_y: '', // 鼠標移動的距離
          currentId: '', // 目前選定的ID
          stopScroll: '', // 停止Scroll bar移動
          beforeDirection: '',
          FirstId: 0,
          LastId: 0,
          rawData: [
            {
              "Type": "Day",
              "Id": 1,
              "DayId": 1,
              "Color": "#ff4477",
              "Day": 1,
              "Weekday": "星期一",
              "Sequence": 0,
              "StartTime": "09:00"
            },
            {
              "Type": "Place",
              "Id": 2,
              "DayId": 1,
              "Color": "#ff4477",
              "Day": 1,
              "TripDetailsId": 1,
              "Sequence": 1,
              "PlaceName": "台北新光三越",
              "StayTime": "1 小時 30 分",
              "Address": "台北市中山區",
              "StartTime": "09:00",
              "EndTime": "10:30",
              "Car": "60"
            },
            {
              "Type": "Place",
              "Id": 3,
              "DayId": 1,
              "Color": "#ff4477",
              "Day": 1,
              "TripDetailsId": 2,
              "Sequence": 2,
              "PlaceName": "台中火車站",
              "StayTime": "30 分",
              "Address": "台北市大同區",
              "StartTime": "11:30",
              "EndTime": "12:00"
            },
            {
              "Type": "Day",
              "Id": 4,
              "DayId": 2,
              "Color": "#3b86ff",
              "Day": 2,
              "Weekday": "星期二",
              "Sequence": 0,
              "StartTime": "08:00"
            },
            {
              "Type": "Place",
              "Id": 5,
              "DayId": 2,
              "Color": "#3b86ff",
              "Day": 2,
              "TripDetailsId": 3,
              "Sequence": 1,
              "PlaceName": "Build School",
              "StayTime": "30 分",
              "Address": "台北市大安區",
              "StartTime": "08:00",
              "EndTime": "08:30",
              "Car": "50"
            },
            {
              "Type": "Place",
              "Id": 6,
              "DayId": 2,
              "Color": "#3b86ff",
              "Day": 2,
              "TripDetailsId": 4,
              "Sequence": 2,
              "PlaceName": "大稻埕碼頭廣場",
              "StayTime": "10 分",
              "Address": "台北市大同區",
              "StartTime": "09:20",
              "EndTime": "09:30",
              "Car": "50"
            },
            {
              "Type": "Place",
              "Id": 7,
              "DayId": 2,
              "Color": "#3b86ff",
              "Day": 2,
              "TripDetailsId": 5,
              "Sequence": 3,
              "PlaceName": "霞海城隍廟",
              "StayTime": "30 分",
              "Address": "台北市中山區",
              "StartTime": "10:20",
              "EndTime": "10:50"
            },
            {
              "Type": "Day",
              "Id": 8,
              "DayId": 3,
              "Color": "#71b85f",
              "Day": 3,
              "Weekday": "星期三",
              "Sequence": 0,
              "StartTime": "10:00"
            }
          ]
        }
      },
      methods: {
        clear() {
          this.directionsRenderer.forEach(item => {
            item.setMap(null)
          })
          this.markers.forEach(item => {
            let label = {
              text: "11",
              color: 'black',
              fontSize: '50px',
              fontWeight: "900"
            }
            item.setLabel(null)
            item.setVisible(false)
          })
        },
        DragMouseDown(e) {
          this.clickTag = e.target.parentNode.parentNode
          // 點到drag-handle才有用
          if (e.target.classList[0] == "drag-handler") {
            this.clickTag.style.transform = `translateY(${this.clickTagMove}px)`;
            this.clickTag.style.visibility = 'hidden'
            this.clickTag.style.opacity = 0;

            let template = document.querySelector('#Card');
            cloneNode = template.content.cloneNode(true)
            this.placeCard = cloneNode.querySelector('.place-card')
            this.$refs.box.appendChild(cloneNode);
            // https://emn178.pixnet.net/blog/post/95297028
            let top = this.clickTag.offsetTop + 72 - this.placeCard.parentNode.parentNode.scrollTop + 'px';
            // 要加上目前scroll bar的高度
            this.bottomTripList = this.$refs.tripListDayContainer.getBoundingClientRect().bottom
            // https://developer.mozilla.org/en-US/docs/Web/API/Element/getBoundingClientRect
            let left = this.clickTag.offsetLeft + 16 + 'px'
            let width = this.clickTag.clientWidth + 2 + 'px'
            let dataID = this.clickTag.dataset.id
            // 將目前點選的元件資訊放入template中
            this.placeCard.style.top = top
            this.placeCard.style.left = left
            this.placeCard.style.width = width
            this.placeCard.dataset.id = dataID
            this.currentId = dataID
            this.placeCard.style['z-index'] = 99
            this.placeCard.innerHTML = this.clickTag.innerHTML

            // 初始化參數
            this.selectH = this.clickTag.clientHeight // 選定卡片的高度
            // offsetTop(為選定物件 "頂部" 到父層 "頂部" 的距離) + offsetHeight為選定物件到父層 "頂部" 的距離
            // SelectH = offsetTop - 上面兩塊的高度
            this.selectD = this.clickTag.offsetTop - 100 - 48 + this.selectH - this.$refs.tripListDayContainer.scrollTop
            // -100：行程介紹的高度(灰色)、-48：天數的高度(橘色)、+100：選定的高度 -tripListDayContainer.scrollTop：卷軸距離上方的距離
            this.totalD = this.$refs.tripListDayContainer.offsetHeight; // trip-list-day-container的高度
            this.H = this.$refs.box.querySelector(`[data-id="${parseInt(this.currentId) + 1}"]`).offsetHeight
            this.clickId = dataID
            this.selectTop = 0
            this.selectBottom = 0
            this.clientY = 0
            this.y = 0
            this.scrollInterval = 0;
            this.beforeDirection = ''
            this.FirstId = 1
            this.LastId = document.querySelectorAll('.item-group').length;

            this.scrollTarget = this.$refs.tripListDayContainer.scrollTop
            this.$refs.box.appendChild(cloneNode);
            window.addEventListener('mousemove', this.updateMove)
            window.addEventListener('mouseup', this.updateCard)
          }
        },
        updateCard() {
          window.clearInterval(this.timeId)
          this.timeId = 0
          window.removeEventListener('mousemove', this.updateMove)
          window.removeEventListener('mouseup', this.updateCard)
          this.clickTag.style.visibility = 'visible'
          this.clickTag.style.opacity = 1;
          let itemGroups = document.querySelectorAll('.item-group');
          // https://www.gushiciku.cn/pl/p9ck/zh-tw
          if (this.clickTag.style.transform !== 'translateY(0px)') {
            let itemGroups = document.querySelectorAll('.item-group');
            let itemGroups_sort2 = Object.values(itemGroups).sort((a, b) => a.dataset.id - b.dataset.id)
            // box.innerHTML = ''
            itemGroups_sort2.forEach(itemGroup => {
              this.$refs.box.appendChild(itemGroup)
              itemGroup.style = ''
              // 渲染畫面
            })
            // 深層複製
            let result = JSON.parse(JSON.stringify(this.rawData))
            // 只交換有動到的部分
            this.steps.forEach(step => {
              let tempData = result[result.findIndex(x => x.Id == step.new)]
              result[result.findIndex(x => x.Id == step.new)] = result[result.findIndex(x => x.Id == step.old)]
              result[result.findIndex(x => x.Id == step.old)] = tempData
            })
            if (this.setReturn) {
              return
            }
            // 更新Sequence
            let Day, DayId, Sequence, Color
            let Id = (document.querySelectorAll('.item-group')[0].dataset.id) * 10;

            result.forEach(item => {
              if (item.Type == "Day") {
                Day = item.Day
                DayId = item.DayId
                Sequence = 0
                Color = item.Color
              }
              else {
                item.Day = Day
                item.DayId = DayId
                Sequence = Sequence + 1
                item.Sequence = Sequence
                item.Color = Color
              }
              item.Id = Id
              Id = Id + 1
            })
            document.querySelectorAll('.item-group')[document.querySelectorAll('.item-group').length - 1].dataset.id = Id;

            // 移除marker、direction
            if (this.markers.length !== 0) {
              this.markers.forEach(marker => {
                // marker.setIcon(null)
                // marker.setLabel(null);
                // marker.setMap(null)
                marker.setVisible(false)
              })
              this.markers = []
            }
            if (this.directionsRenderer.length !== 0) {
              this.directionsRenderer.forEach(item => {
                item.setMap(null)
              })
            }
            this.calculateRoute(result);

            itemGroups.forEach(item => {
              item.style.transitionDuration = '10ms'
              item.style.transform = "translateY(0px)"
              item.style = ''
            })
            this.LastId = result[result.lendth - 1]
            this.FirstId = result[0]
            this.$refs.box.removeChild(this.placeCard)
          }
          else {
            // 沒動
            this.$refs.box.removeChild(this.placeCard)
            itemGroups.forEach(item => {
              item.style = ''
            })
          }
          this.steps = []
          itemGroups.forEach(item => {
            item.style = ''
          })
          // this.$refs.box.removeChild(this.placeCard)
        },
        calculateRoute(result) {
          let SortPlaceData = []
          let PlaceData = {
            DayId: '',
            Places: [],
            Color: ''
          }
          result.forEach((item, index) => {
            if (item.Type == "Day") {
              if (PlaceData.DayId !== '') {
                SortPlaceData.push(PlaceData)
                PlaceData = {
                  DayId: '',
                  Places: [],
                  Color: ''
                }
              }
              PlaceData.DayId = item.DayId
              PlaceData.Color = item.Color
            }
            else {
              PlaceData.Places.push(item.PlaceName)
              if (index == result.length - 1) {
                SortPlaceData.push(PlaceData)
              }
            }
          })
          SortPlaceData.forEach(item => {
            if (item.Places.length > 1) {
              let start_location = item.Places.shift() // 移除第一個
              let end_location = item.Places.pop() // 移除最後一個
              let WayPoints = []
              item.Places.forEach(waypoint => {
                WayPoints.push({
                  location: waypoint,
                  stopover: true
                })
              })
              let CalulateResult = {
                DayId: '',
                Address: [],
                CarTime: []
              }
              this.calculateAndDisplayRoute(start_location, end_location, WayPoints, item.Color, this.map, this.pinSymbol, this.markLabel).then(res => {
                CalulateResult.DayId = item.DayId
                res.routes[0].legs.forEach((result, index) => {
                  CalulateResult.Address.push(result.start_address)
                  if (index == res.routes[0].legs.length - 1) {
                    CalulateResult.Address.push(result.end_address)
                  }
                  CalulateResult.CarTime.push(result.duration.text)
                })
                let DayStartTime = 0
                result.filter(x => x.DayId == CalulateResult.DayId && x.Type == "Place").forEach((selected, index) => {
                  selected.Address = CalulateResult.Address[index]

                  if (index == 0) {
                    DayStartTime = result.filter(x => x.DayId == CalulateResult.DayId && x.Type == "Day")[0].StartTime
                  }
                  let datetime = new Date(2021, 9, 19, DayStartTime.split(':')[0], DayStartTime.split(':')[1])
                  let stay_hour = 0;
                  let stay_minute = 0;
                  if (selected.StayTime.split(' ').length == 2) {
                    // 沒有小時
                    stay_hour = 0
                    stay_minute = parseInt(selected.StayTime.split(' ')[0])
                  }
                  else {
                    stay_hour = parseInt(selected.StayTime.split(' ')[0])
                    stay_minute = parseInt(selected.StayTime.split(' ')[2])
                  }
                  let EndTime = new Date(datetime.getTime() + (stay_hour * 60 + stay_minute) * 60000)
                  selected.StartTime = this.changeDateFormat(datetime)
                  selected.EndTime = this.changeDateFormat(EndTime)
                  if (CalulateResult.CarTime.length == index) {
                    // 最後一個景點
                    selected.Car = ''
                    // 日期替換
                  }
                  else {
                    // 加入Car的時間
                    selected.Car = CalulateResult.CarTime[index]
                    // 日期替換
                    let car_hour = 0;
                    let car_minute = 0;
                    if (CalulateResult.CarTime[index].split(' ').length == 2) {
                      // 沒有小時
                      car_hour = 0
                      car_minute = parseInt(CalulateResult.CarTime[index].split(' ')[0])
                    }
                    else {
                      car_hour = parseInt(CalulateResult.CarTime[index].split(' ')[0])
                      car_minute = parseInt(CalulateResult.CarTime[index].split(' ')[2])
                    }
                    let AddCarTime = new Date(datetime.getTime() + ((car_hour + stay_hour) * 60 + (car_minute + stay_minute)) * 60000)
                    DayStartTime = this.changeDateFormat(AddCarTime)
                  }
                })
                this.rawData = JSON.parse(JSON.stringify(result))
              })
            }
            else if (item.Places.length == 1) {
              // 只有一個地點
              let DayStartTime = result.filter(x => x.DayId == item.DayId && x.Type == "Day")[0].StartTime
              let datetime = new Date(2021, 9, 19, DayStartTime.split(':')[0], DayStartTime.split(':')[1])
              let selected = result.filter(x => x.DayId == item.DayId && x.Type == "Place")[0]
              let stay_hour = 0;
              let stay_minute = 0;
              if (selected.StayTime.split(' ').length == 2) {
                // 沒有小時
                stay_hour = 0
                stay_minute = parseInt(selected.StayTime.split(' ')[0])
              }
              else {
                stay_hour = parseInt(selected.StayTime.split(' ')[0])
                stay_minute = parseInt(selected.StayTime.split(' ')[2])
              }

              let EndTime = new Date(datetime.getTime() + ((stay_hour) * 60 + stay_minute) * 60000)
              selected.StartTime = this.changeDateFormat(datetime)
              selected.EndTime = this.changeDateFormat(EndTime)
              this.findPlace(item.Places[0], this.markLabel, selected, item.Color).then(res => {
                this.rawData = JSON.parse(JSON.stringify(result))
              })
            }
          })
        },
        copyPlace(place) {
          console.log(place);
          let insertIndex = this.rawData.findIndex(x => x.Id = place.Id)
          // this.rawData.splice
        },
        findPlace(Place, markLabel, selected, color) {
          return new Promise((resolve, reject) => {
            let request = {
              query: Place,
              fields: ['ALL']
            }
            let PlacesService = new google.maps.places.PlacesService(this.map);
            PlacesService.findPlaceFromQuery(request, function (results, status) {
              selected.Address = results[0].formatted_address
              markLabel(results[0].geometry.location, color, "1", "900")
              resolve('success')
            })
          })

        },
        changeDateFormat(datetime) {
          let result = {
            hour: datetime.getHours().toString().padStart(2, 0),
            minute: datetime.getMinutes().toString().padStart(2, 0)
          }
          return `${result.hour}:${result.minute}`
        },

        calculateAndDisplayRoute(origin, destination, waypoint, routeColor, map, pinSymbol, markLabel) {

          this.directionsService = new google.maps.DirectionsService();
          // A service for computing directions between two or more places.
          let directionsRenderer = new google.maps.DirectionsRenderer({
            // Renders directions obtained from the DirectionsService.
            map: map,
            suppressMarkers: true,
            // suppressPolylines: true,
            polylineOptions: {
              strokeColor: routeColor,
              strokeOpacity: 0.6,
              strokeWeight: 5
            },
          })

          this.directionsRenderer.push(directionsRenderer)
          return new Promise((resolve, reject) => {
            this.directionsService.route({
              origin: {
                query: origin
              },
              destination: destination,
              waypoints: waypoint,
              travelMode: google.maps.TravelMode.DRIVING,
              provideRouteAlternatives: false
            }, function (res, status) {

              directionsRenderer.setDirections(res);
              let my_route = res.routes[0]
              let Places = []
              my_route.legs.forEach(item => {
                Places.push(item.start_location)
              })
              Places.push(my_route.legs[my_route.legs.length - 1].end_location)
              let fontWeight = 'normal'
              for (var i = 0; i < Places.length; i++) {
                if (i == 0 || i == Places.length - 1) {
                  fontWeight = '900'
                }
                else {
                  fontWeight = '400'
                }
                markLabel(Places[i], routeColor, (i + 1).toString(), fontWeight)
              }
              resolve(res)
            })
          })
        },
        markLabel(Place, color, labelText, fontWeight) {
          let map = this.map
          let icon = this.pinSymbol(color)
          let position = JSON.parse(JSON.stringify(Place))

          // let text = labelText
          let label = {
            text: labelText,
            color: 'black',
            fontSize: '12px',
            fontWeight: fontWeight
          }
          const image =
            "https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png";
          let marker = new google.maps.Marker({
            position: position,
            label: label,
            map: map,
            optimized: true,
            icon: icon
          })
          this.markers.push(marker)

        },
        pinSymbol(color) {
          return {
            path: 'M 0,0 C -2,-20 -10,-22 -10,-30 A 10,10 0 1,1 10,-30 C 10,-22 2,-20 0,0 z',
            fillColor: color,
            fillOpacity: 0.8,
            strokeColor: '#000',
            strokeWeight: 2,
            // border
            scale: 1,
            labelOrigin: new google.maps.Point(0, -29)
          };
        },
        updateMove(e) {
          this.checkDirection(e)
          // 漂浮卡片移動
          this.placeCard.style.transform = `translateY(${this.y}px)`

          if (this.currentDirection == 'down') {
            // 漂浮卡片移動(往下)
            this.selectD = this.selectD + this.interval_y  // 有可能超出畫面
            this.stopCardMove = this.checkScrollDirection()
            // 檢查是否scroll bar需要滾動
            if (this.stopCardMove) {
              if (this.timeId !== 0) { }
              else {
                // 非同步線程，scroll bar滑動
                if (this.stopScroll) {
                  clearInterval(this.timeId)
                }
                else {
                  this.timeId = setInterval(this.scrollMove, 10)
                }
              }
            }
            else {
              // 代表沒有滑動到底部
              this.selectBottom = this.selectBottom + this.interval_y
              this.selectTop = this.selectTop - this.interval_y
              console.log(this.selectBottom, this.H);
              if (this.selectBottom > this.H / 2) {
                // 1. 代表下面區塊要往上移
                // 2. 空白區塊要與下面的區塊交換資料
                // 3. 初始化參數
                this.changeData(this.currentDirection)
                // this.beforeDirection = 'down'
              }
            }
          }
          else if (this.currentDirection == 'up') {

            // 在底部，然後scroll bar往下移動，但鼠標是往上
            this.selectD = this.selectD - this.interval_y
            this.stopCardMove = this.checkScrollDirection()
            // 檢查是否scroll bar需要滾動

            if (this.stopCardMove) {
              if (this.timeId) { }
              else {
                // 非同步線程，scroll bar滑動
                if (this.stopScroll) {
                  clearInterval(this.timeId)
                }
                else {
                  this.timeId = setInterval(this.scrollMove, 10)
                }
              }
            }
            else {
              this.selectTop = this.selectTop + this.interval_y
              this.selectBottom = this.selectBottom - this.interval_y
              console.log(this.selectTop, this.H);
              
              if (this.selectTop > this.H / 2) {
                // 1. 代表上面區塊要往下移
                // 2. 空白區塊要與上面的區塊交換資料
                // 3. 初始化參數
                this.changeData(this.currentDirection)
                // this.beforeDirection = 'up'
              }
            }
          }
        },
        setParameter(direction) {
          if (direction == "down") {
            this.H = this.$refs.box.querySelector(`[data-id="${this.currentId}"]`).offsetHeight
            console.log(this.H);
            
            this.stopScroll = false
            this.selectTop = this.H - this.selectBottom
            this.selectBottom = (this.H - this.selectBottom) * (-1)
            this.beforeDirection = direction
          }
          else {
            this.H = this.$refs.box.querySelector(`[data-id="${this.currentId}"]`).offsetHeight
            console.log(this.H);
            this.stopScroll = false
            this.selectBottom = this.H - this.selectTop
            this.selectTop = (this.H - this.selectTop) * (-1)
          }
        },
        changeData(direction) {
          let changeNode, moveDistance
          console.log(parseInt(this.currentId), this.beforeDirection, direction);

          if (this.beforeDirection == '' && direction == 'down') {

            if (parseInt(this.currentId) + 1 !== document.querySelectorAll('.item-group')[document.querySelectorAll('.item-group').length - 1].dataset.id) {
              this.setParameter(direction)
              this.currentId = parseInt(this.currentId) + 1
              changeNode = this.$refs.box.querySelector(`[data-id="${this.currentId}"]`)
              changeNode.style.transform = `translateY(${this.selectH * (-1)}px)`
            }
          }
          else if (this.beforeDirection == '' && direction == 'up') {
          
            if (parseInt(this.currentId) - 1 !== document.querySelectorAll('.item-group')[0].dataset.id) {
              this.setParameter(direction)
              this.currentId = parseInt(this.currentId) - 1
              changeNode = this.$refs.box.querySelector(`[data-id="${this.currentId}"]`)
              changeNode.style.transform = `translateY(${this.selectH}px)`
              
            }
          }
          else if (this.beforeDirection == 'down' && direction == 'up') {

            changeNode = this.$refs.box.querySelector(`[data-id="${this.currentId}"]`)
            this.setParameter(direction)
            if (changeNode.style.transform == 'translateY(0px)') {
              this.currentId = parseInt(this.currentId) - 1
              changeNode = this.$refs.box.querySelector(`[data-id="${this.currentId}"]`)
              changeNode.style.transform = `translateY(${this.selectH}px)`
            }
            else {
              // changeNode = this.$refs.box.querySelector(`[data-id="${this.currentId}"]`)
              changeNode.style.transform = `translateY(0px)`
              this.currentId = this.currentId - 1
              
            }
            
          }
          else if (this.beforeDirection == 'up' && direction == 'up') {

            
            if (parseInt(this.currentId) - 1 !== document.querySelectorAll('.item-group')[0].dataset.id) {
              this.setParameter(direction)
              
              changeNode = this.$refs.box.querySelector(`[data-id="${this.currentId}"]`)
              if (changeNode.style.transform == `translateY(${this.selectH * (-1)}px)`) {
                changeNode.style.transform = `translateY(0px)`
                this.currentId = parseInt(this.currentId) - 1
              }
              else {
                this.currentId = parseInt(this.currentId) - 1
                changeNode = this.$refs.box.querySelector(`[data-id="${this.currentId}"]`)
                changeNode.style.transform = `translateY(${this.selectH}px)`
              }
            }
          }
          else if (this.beforeDirection == 'up' && direction == 'down') {

            changeNode = this.$refs.box.querySelector(`[data-id="${this.currentId}"]`)
            console.log(changeNode.style.transform);
            console.log(changeNode.style.transform == 'translateY(0px)');

            if (changeNode.style.transform == 'translateY(0px)') {
              this.currentId = parseInt(this.currentId) + 1
              changeNode = this.$refs.box.querySelector(`[data-id="${this.currentId}"]`)
              changeNode.style.transform = `translateY(${this.selectH * (-1)}px)`
            }
            else {
              changeNode.style.transform = `translateY(0px)`
              this.currentId = this.currentId + 1
            }
            this.setParameter(direction)
          }
          else if (this.beforeDirection == 'down' && direction == 'down') {

            
            if (parseInt(this.currentId) + 1 !== document.querySelectorAll('.item-group')[document.querySelectorAll('.item-group').length - 1].dataset.id) {
              
              changeNode = this.$refs.box.querySelector(`[data-id="${this.currentId}"]`)
              if (changeNode.style.transform == `translateY(${this.selectH}px)`) {
                changeNode.style.transform = `translateY(0px)`
              }
              else {
                this.currentId = parseInt(this.currentId) + 1
                changeNode = this.$refs.box.querySelector(`[data-id="${this.currentId}"]`)
                changeNode.style.transform = `translateY(${this.selectH * (-1)}px)`
              }
              this.setParameter(direction)
            }
          }
          else {
            console.log(this.beforeDirection, direction);
          }
          console.log(this.currentId);
          
          this.beforeDirection = direction

          return
          // let changeNode, moveDistance
          if (direction == 'down') {
            // 選定下一個節點，id大
            if (parseInt(this.currentId) + 1 !== document.querySelectorAll('.item-group')[document.querySelectorAll('.item-group').length - 1].dataset.id) {
              // box.children.length可用dir看
              this.currentId = parseInt(this.currentId) + 1
              console.log(this.currentId);
              changeNode = this.$refs.box.querySelector(`[data-id="${this.currentId}"]`)
              // 3. 初始化參數
              if (changeNode == undefined) {
                // 退回前一個
                this.currentId = this.currentId - 1
                if (this.$refs.tripListDayContainer.scrollTop + this.$refs.tripListDayContainer.clientHeight ==
                  this.$refs.tripListDayContainer.scrollHeight) {
                  // 判斷是否滑到底部
                  this.stopScroll = true
                }
              }
              else {
                this.H = this.$refs.box.querySelector(`[data-id="${this.currentId}"]`).offsetHeight
                this.stopScroll = false
                this.selectTop = this.H - this.selectBottom
                this.selectBottom = (this.H - this.selectBottom) * (-1)
                moveDistance = this.selectH * (-1)
                this.beforeDirection = direction
              }
            }


          }
          else if (direction == 'up') {
            console.log(parseInt(this.currentId) - 1);
            console.log(document.querySelectorAll('.item-group')[0].dataset.id);

            // 選定上一個節點，id小
            if (parseInt(this.currentId) - 1 !== document.querySelectorAll('.item-group')[0].dataset.id) {
              // 第一個不動 (日期)
              this.currentId = parseInt(this.currentId) - 1
              console.log(this.currentId);

              changeNode = this.$refs.box.querySelector(`[data-id="${this.currentId}"]`)
              // 3. 初始化參數
              if (changeNode == undefined) {
                this.stopScroll = true
              }
              else {
                this.H = this.$refs.box.querySelector(`[data-id="${this.currentId}"]`).offsetHeight
                this.stopScroll = false
                this.selectBottom = this.H - this.selectTop
                this.selectTop = (this.H - this.selectTop) * (-1)
                moveDistance = this.selectH
              }
              this.beforeDirection = direction
            }
            else {
              changeNode = undefined
            }
          }
          console.log(this.currentId);

          // 1. 空白區塊移動、空白下方的區塊移動 (兩者移動相反)
          console.log(changeNode);

          if (changeNode !== undefined) {
            console.log(changeNode.style);

            if (this.beforeDirection == direction) {

            }

            // if (changeNode.style.transform == `translateY(${moveDistance * (-1)}px)` ||
            //   changeNode.style.transform == `translateY(${moveDistance}px)`) {
            //   changeNode.style.transform = `translateY(0px)` // 回原位
            // }
            // else if(changeNode.style.transform == ''){
            //   changeNode.style.transform = `translateY(${moveDistance}px)`
            // }
            // else {
            //   console.log();

            //   console.log(changeNode.style.transform.split('translateY(')[1].split('px)')[0]);

            //   moveDistance = changeNode.style.transform.split('translateY(')[1].split('px)')[0] + moveDistance 
            //   changeNode.style.transform = `translateY(${moveDistance}px)`
            //   // if (direction == 'up'){
            //   //   moveDistance = changeNode.style.transform.split('translateY')[1].split('px')[0] + moveDistance 
            //   // }
            //   // changeNode.style.transform = `translateY(${moveDistance * (-1)}px)`
            // }


            // if (this.clickTag.style.transform == `translateY(${moveDistance}px)` ||
            //   this.clickTag.style.transform == `translateY(${moveDistance * (-1)}px)`) {

            //   if (direction == 'up') {
            //     if (this.beforeDirection == direction) {
            //       moveDistance = moveDistance - this.selectH
            //     }
            //     else {
            //       moveDistance = moveDistance + this.selectH
            //     }
            //   }
            //   else {

            //     if (this.beforeDirection == direction) {
            //       moveDistance = moveDistance + this.selectH
            //     }
            //     else {
            //       moveDistance = moveDistance - this.selectH
            //     }
            //   }
            //   this.clickTag.style.transform = `translateY(${moveDistance}px)` // 回原位
            // }
            // else {
            //   this.clickTag.style.transform = `translateY(${moveDistance}px)`
            // }
            let ChangeData = {};
            console.log(this.clickId, changeNode.dataset.id, this.clickTag.dataset.id);

            // let tempId = changeNode.dataset.id
            // ChangeData.new = tempId;
            // changeNode.dataset.id = this.clickTag.dataset.id
            // ChangeData.old = this.clickTag.dataset.id;
            // this.clickTag.dataset.id = tempId

            // if (direction == 'down') {
            //   // let tempId = changeNode.dataset.id
            //   ChangeData.new = parseInt(changeNode.dataset.id);
            //   ChangeData.old = pthis.clickId

            // }
            // else {
            //   // let tempId = this.clickTag.dataset.id
            //   ChangeData.new = parseInt(parseInt(this.clickId) + 1);
            //   ChangeData.old = parseInt(this.clickId);


            // }
            ChangeData.old = this.clickTag.dataset.id
            ChangeData.new = changeNode.dataset.id
            // console.log(ChangeData.new, ChangeData.old);
            // let tempId = changeNode.dataset.id
            // changeNode.dataset.id = this.clickTag.dataset.id
            // this.clickTag.dataset.id = tempId

            // this.clickTag = changeNode

            this.currentId = changeNode.dataset.id
            if (this.steps.length !== 0) {
              // 檢查是否移回原位
              if (this.steps[this.steps.length - 1].old == ChangeData.new &&
                this.steps[this.steps.length - 1].new == ChangeData.old) {
                // 移除最後一個
                this.steps.pop()
              }
              else {
                this.steps.push(ChangeData)
              }
            }
            else {
              this.steps.push(ChangeData)
            }
          }
          // this.clickTag = changeNode
          console.log(this.steps);

        },
        checkDirection(e) {
          // 監測鼠標位置
          if (this.clientY !== 0) {
            if (this.clientY > e.clientY) {
              this.currentDirection = 'up'
              console.log(parseInt(this.currentId));
              if (this.beforeDirection == 'down'){
                console.log('tsetest', parseInt(this.currentId));
                
                this.H = this.$refs.box.querySelector(`[data-id="${parseInt(this.currentId)}"]`).offsetHeight
              }
              else{
                this.H = this.$refs.box.querySelector(`[data-id="${parseInt(this.currentId) - 1}"]`).offsetHeight
              }
              this.interval_y = this.clientY - e.clientY
              this.y = this.y - this.interval_y

            }
            else if (this.clientY < e.clientY) {
              console.log(parseInt(this.currentId));
              if (this.beforeDirection == 'up'){
                this.H = this.$refs.box.querySelector(`[data-id="${parseInt(this.currentId)}"]`).offsetHeight
              }
              else{
                this.H = this.$refs.box.querySelector(`[data-id="${parseInt(this.currentId) + 1}"]`).offsetHeight
              }
              
              this.currentDirection = 'down'
              this.interval_y = e.clientY - this.clientY
              this.y = this.y + this.interval_y
            }
            else {
              this.currentDirection = 'same'
            }
          }
          // 記錄前一次數值用於下次比較
          this.clientY = e.clientY
        },
        scrollMove() {
          // https://developer.mozilla.org/en-US/docs/Web/API/Element/scroll
          // scroll information
          if (this.scrollDirection == 'down') {
            if (!this.stopScroll) {
              this.scrollInterval = this.scrollInterval + 1
              this.scrollTarget = this.scrollTarget + this.scrollInterval
              this.$refs.tripListDayContainer.scroll(0, this.scrollTarget)
              if (this.$refs.tripListDayContainer.scrollTop + this.$refs.tripListDayContainer.clientHeight >= this.$refs.tripListDayContainer.scrollHeight) {
                this.scrollTarget = this.$refs.tripListDayContainer.scrollTop
                this.stopScroll = true
                clearInterval(this.timeId)
                this.timeId = null
              }
              else {
                this.selectBottom = this.selectBottom + this.scrollInterval
                this.selectTop = this.selectTop - this.scrollInterval
                if (this.selectBottom > this.H / 2) {
                  this.scrollInterval = 0
                  // 1. 代表下面區塊要往上移
                  // 2. 空白區塊要與下面的區塊交換資料
                  // 3. 初始化參數
                  this.changeData(this.scrollDirection)
                }
              }

            }
          }
          else if (this.scrollDirection == 'up') {
            this.scrollInterval = this.scrollInterval + 1
            this.scrollTarget = this.scrollTarget - this.scrollInterval
            if (this.scrollTarget < 0) {
              // 代表到頂
              this.scrollTarget = 0
            }
            else {
              // console.log('scrollTarget', scrollTarget);
              // console.log('tripListDayContainer.scrollTop', tripListDayContainer.scrollTop);
              this.$refs.tripListDayContainer.scroll(0, this.scrollTarget)
              this.selectBottom = this.selectBottom - this.scrollInterval
              this.selectTop = this.selectTop + this.scrollInterval
              if (this.selectTop > this.H / 2) {
                this.scrollInterval = 0
                // 1. 代表上面區塊要往下移
                // 2. 空白區塊要與下面的區塊交換資料
                // 3. 初始化參數
                this.changeData(this.scrollDirection)
              }
            }
          }
        },
        checkScrollDirection() {
          let result
          // 用非同步的方式觸發
          // 停止條件，scrollbar碰到頂部或底部
          // console.log(this.selectD, this.totalD);

          if (this.selectD > this.totalD) {
            // 到達trip-list底部，並且scroll bar開始滑動
            this.scrollDirection = 'down'
            result = true
          }
          else if (this.selectD < this.selectH) {
            // 到達trip-list頂部，並且scroll 
            this.scrollDirection = 'up'
            if (this.$refs.tripListDayContainer.scrollTop == 0) {
              this.stopScroll = true
              this.scrollTarget = 0
              clearInterval(this.timeId)
              this.timeId = null
            }
            else {
              this.stopScroll = false
            }
            result = true
          }
          else {
            this.scrollDirection = ''
            result = false
          }
          return result
        },
        InitMap() {
          this.map = new google.maps.Map(this.$refs.map, {
            zoom: 15,
            center: { lat: 25.0336752, lng: 121.5648831 },
            mapTypeControl: false
            // streetViewControl: false
          })

        },
        TripListShow(e) {
          if (e.target.innerWidth >= 768) {
            this.showTripList = true
          }
        }
      },
      watch: {
        rawData: {
          handler: function (newValue) {
            console.log('watchRawData', newValue);
          },
          deep: true
        }
      },
      components: {
        day,
        placeGps,
        dayPlus
      },

      mounted() {
        this.FirstId = 1
        this.LastId = document.querySelectorAll('.item-group').length;
        this.InitMap();
        window.addEventListener('resize', this.TripListShow)
        this.calculateRoute(this.rawData)
      },
      beforeDestroy() {
        window.removeEventListener("resize", this.TripListShow);
      }
    }
    Vue.createApp(App).mount('#app');
  </script>
</body>

</html>